<nz-divider nzOrientation="left" nzText="Horizontal"></nz-divider>
<div nz-row [nzGutter]="12">
  <div nz-col class="gutter-row" nzSpan="6">
    <div style="background: #ECECEC;padding:30px;">
      <nz-card nzHoverable style="width:240px">
        <img alt="example" src="https://steamcdn-a.akamaihd.net/steam/apps/307690/header.jpg?t=1479335030" />
        <nz-card-meta nzTitle="Sleeping Dogs: Definitive Edition"></nz-card-meta>
      </nz-card>
    </div>
  </div>

  <div nz-col class="gutter-row" nzSpan="6">
    <div style="background: #ECECEC;padding:30px;">
      <nz-card nzHoverable style="width:240px">
        <img alt="example" src="https://steamcdn-a.akamaihd.net/steam/apps/50130/header.jpg?t=1568743259" />
        <nz-card-meta nzTitle="Mafia II"></nz-card-meta>
      </nz-card>
    </div>
  </div>

  <div nz-col class="gutter-row" nzSpan="6">
    <div style="background: #ECECEC;padding:30px;">
      <nz-card nzHoverable style="width:240px">
        <img alt="example" src="https://steamcdn-a.akamaihd.net/steam/apps/255710/header.jpg?t=1585653323" />
        <nz-card-meta nzTitle="Cities: Skylines"></nz-card-meta>
      </nz-card>
    </div>
  </div>

  <div nz-col class="gutter-row" nzSpan="6">
    <div style="background: #ECECEC;padding:30px;">
      <nz-card nzHoverable style="width:240px">
        <img alt="example" src="https://steamcdn-a.akamaihd.net/steam/apps/220/header.jpg?t=1587513163" />
        <nz-card-meta nzTitle="Half-Life 2"></nz-card-meta>
      </nz-card>
    </div>
  </div>
</div>
