<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" ><img src="../../assets/Logo.png" style="height: 80px !important;"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li *ngIf="isAdmin === false"
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Store</a>
          </li>

          <li *ngIf="isAdmin === true" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['admin-panel']"
            >Admin Panel</a>
          </li>
          <li *ngIf="isAdmin === true" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['admin-panel/user-manager']"
            >User Manager</a>
          </li>
          <li *ngIf="isAdmin === true" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['admin-panel/list-product']"
            >Product Manager</a>
          </li>

          <li *ngIf="isLoggedIn === false" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']"
            >Login</a>
          </li>
          <li *ngIf="isLoggedIn === false" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/register']"
            >Register</a>
          </li>

          <li *ngIf="isLoggedIn === true && isAdmin === false" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['user-panel/library']"
              >Library</a>
          </li>
          
          <li *ngIf="isLoggedIn === true" class="nav-item logout">
            <a class="nav-link text-dark" (click)="LogOut()">Logout</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>
</header>
